.overview {
    height: 600px;
    height: auto;
    padding-top: 6rem;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 1rem;
}

.overview-container {
    background-image: url("../images/image10.jpg");
    background-size: cover;
}

.course-container .title {
    color: hsl(194, 36%, 80%);
    background: rgba(11, 29, 44, 0.7);
    font-size: 4rem;
    font-weight: 900px;
    text-align: center;
    line-height: 1.8;
    -webkit-text-stroke: 0.6px;
    -webkit-text-stroke-color: #07111f;

}

.course-card {
    background-color: rgb(38, 88, 129);
    color: #fff;
    border-radius: 0.4rem;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-width: 250px;
    text-align: center;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 0.9;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(255, 255, 255, 0.4);
}


.course-card h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}


.course-card p {
    font-size: 1rem;
    color: #e0e0e0;
    margin: 0.5rem 0 0;
}


@media (min-width: 768px) {
    .overview {
        grid-template-columns: repeat(2, 1fr);
    }
}

.add-course-button {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    background-color: black;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 3;
}

.add-course-button:hover {
    background-color: black;
}

@media (min-width: 600px) {
    .overview {
        grid-template-columns: repeat(3, 1fr);
    }
}
