@import './navigation.css';

/* Mobile first... */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(6, 47, 80);
    min-height: 100vh;
    min-height: 100svh;
}

header,
footer {
    flex-shrink: 0;
}

.start-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: #01122c url('../images/image7.jpg');
    background-size: cover;
    text-align: center;
    gap: 1em;
}

footer {
    color: white;
    padding: 0.5em 0.2em 0.3em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 1.3em;
}

.landing-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.page-title {
    color: hsl(194, 85%, 92%);
    font-size: 3rem;
    line-height: 1.8;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #1f1d2d;
}

.landing-content p {
    background-color: rgba(16, 69, 113, 0.8);
    font-size: 1.2rem;
    color: #f4f4f4;
    padding: 1em;
    border-radius: 0.4em;
    max-width: 60ch;
    /* margin: 3em 0 3em; */
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: rgb(38, 88, 129);
}

.main-content img {
    min-width: 375px;
    max-width: 750px;
    width: auto;
    flex: 375px;
}

.main-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.6em;
}

.main-content h2 {
    color: whitesmoke;
    font-size: 2.1rem;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: #0c2245;
}

.main-content p {
    color: #020e2e;
    font-size: 1.2rem;
    padding: 0.5em;
    line-height: 1.2;
    max-width: 45ch;
}

.course-info-btn {
    color: #f4f4f4;
    font-size: 1.2rem;
    background-color: #0c2245;
    padding: 1em 2em;
    border-radius: 0.4em;
}

.course-info-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4),
        0 -2px 6px rgba(255, 255, 255, 0.2);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #032948;
    min-width: 200px;
    z-index: 2;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #04487c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* MEDIA QUERIES */
